{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>

                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">description</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.user.first_name }}</td>
                        <td>{{ customer.user.last_name }}</td>
                        <td>{{ customer.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}